.Project_container {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    margin-bottom: 20px;
    border-radius: 15px;
}

.Project_heading {
    font-size: 2em !important;
    font-weight: bold !important;
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
    color: #4A5568;
    padding: 2px;
    text-align: center;
}

.Project_heading::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 50px;
    height: 3px;
    transform: translateX(-50%);
    background-color: #2d3748;
    transition: width 0.3s ease;
}

.Project_heading:hover::after {
    width: 70px;
}

.project_box {
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #e2e8f0;
    background-color: #f8f9fa;
    transition: all 0.3s ease;
    margin: 10px;

}

.project_box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project_box > div > div:last-child:hover {
    opacity: 0.8;
}

.project_image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.project_image:hover {
    transform: scale(1.02);
}

.skill_tag{
    margin-top: 20%;
}


.modal-slider-container {
    margin: 0 -20px;
   position: relative;
}

.modal-slide {
    padding: 0 20px;
}

.modal-image {
    width: 100%;
    height: 400px;
    object-fit: contain;
    margin: 0 auto;
}


.slick-prev,
.slick-next {
    z-index: 1;
    width: 40px;
    height: 40px;
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

.slick-prev:before,
.slick-next:before {
    font-size: 24px;
    opacity: 0.75;
}

.slick-dots {
    bottom: -25px;
}

.slick-dots li button:before {
    font-size: 12px;
}

.main-slider-container {
    width: 100%;
}

.main-slider-container .slick-slider {
    width: 100%;
}

.main-slider-container .slick-prev,
.main-slider-container .slick-next {
    z-index: 1;
    width: 30px;
    height: 30px;

    border-radius: 50%;
}

.main-slider-container .slick-prev {
    left: 10px;
}

.main-slider-container .slick-next {
    right: 10px;
}

.main-slider-container .slick-prev:before,
.main-slider-container .slick-next:before {
    font-size: 20px;
    color: black
}

.main-slider-container .slick-dots {
    bottom: 10px;
}

.main-slider-container .slick-dots li button:before {
    color: black;
}



/* 다크모드 스타일 */
[data-theme="dark"] .project_box {
    background-color: var(--chakra-colors-gray-800);
    border-color: var(--chakra-colors-gray-600);
}

[data-theme="dark"] .slick-prev:before,
[data-theme="dark"] .slick-next:before {
    color: black;
}

/* 반응형 스타일 */
@media screen and (max-width: 768px) {
    .project_box {
        padding: 0.5rem;
    }

    .project_image {
        max-height: 200px;
    }

    .modal-image {
        height: 300px;
    }
}

@media screen and (min-width: 768px) {
    .chakra-modal__content {
        max-width: 1000px !important;
    }
}