.Tech_container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 2rem;
    justify-content: center;
    text-align: center;
}

.Tech_heading {
    font-size: 2em !important;
    font-weight: bold !important;
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
    color: #4A5568;
    text-align: center;
}

.Tech_heading::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 50px;
    height: 3px;
    background-color: #2d3748;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.Tech_heading:hover::after {
    width: 70px;
}

.content_container {
    width: 100%;
}

.tech_box {
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #e2e8f0;
    background-color: #f8f9fa;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center; /* 아이콘을 가로 방향으로 가운데 정렬 */
}

.tech_box:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

.tech_box svg {
    transition: transform 0.3s ease, color 0.3s ease;
}

.tech_box svg:hover {
    transform: scale(1.2);
    color: #3182ce;
}

.tech-icon {
    display: flex;
    flex-direction: column;
    align-items: center; /* 아이콘과 텍스트를 세로 방향으로 가운데 정렬 */
    justify-content: center; /* 아이콘과 텍스트를 가로 방향으로 가운데 정렬 */
    text-align: center;
}

.tech-icon svg {
    transition: color 0.3s ease;
}

.tech-icon:hover svg {
    color: var(--icon-color);
}

.tech-icon::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background-color: var(--icon-color);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
    border-radius: 5px;
}

.tech-icon:hover::before {
    opacity: 0.1;
}

/* Wrap 컨테이너를 위한 추가 스타일 */
.tech_box > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}